DATABASE_URL="postgresql://gocontrolpanel:VettePanel123@localhost:5432/gocontrolpanel"

# Node environment
NODE_ENV="development"

# Authentication settings
NEXTAUTH_URL="http://localhost:3000/"
NEXTAUTH_SECRET=""

# Random string used to encrypt api keys stored in the database
HETZNER_KEY=""

# Default admins logins, seperated by commas
DEFAULT_ADMINS=""

# Default permissions for new users, seperated by commas
DEFAULT_PERMISSIONS=""

# Nadeo OAuth
NADEO_CLIENT_ID=""
NADEO_CLIENT_SECRET=""
NADEO_REDIRECT_URI="http://localhost:3000/api/auth/callback/nadeo"

# Nadeo API authentication
NADEO_SERVER_LOGIN=""
NADEO_SERVER_PASSWORD=""
# Nadeo contact information, can be your discord / email etc.
NADEO_CONTACT="GoControlPanel / <your contact info>"

# Redis connection string
REDIS_URI="redis://localhost:6379"

PLAUSIBLE_API_HOST="analytics.mywebsite.com"

# Sentry configuration
# Shared
NEXT_PUBLIC_SENTRY_ENABLED="false"

# If using a different DSN for the server you can set the SENTRY_SERVER_DSN variable. Otherwise NEXT_PUBLIC_SENTRY_DSN will be used for both server and browser.
NEXT_PUBLIC_SENTRY_DSN=""
SENTRY_SERVER_DSN=""

SENTRY_ENVIRONMENT="development"

SENTRY_TRACES_SAMPLE_RATE="1"
SENTRY_PROFILES_SAMPLE_RATE="1"

SENTRY_ATTACH_STACKTRACE="true"
SENTRY_SEND_DEFAULT_PII="false"

SENTRY_ENABLE_LOGS="true"

SENTRY_NORMALIZE_DEPTH="3"
SENTRY_MAX_BREADCRUMBS="100"

SENTRY_IGNORE_ERRORS=""

# Browser
NEXT_PUBLIC_SENTRY_TUNNEL_ROUTE=""

NEXT_PUBLIC_SENTRY_REPLAYS_SESSION_SAMPLE_RATE="1"
NEXT_PUBLIC_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE="1"

# Server
SENTRY_TUNNEL_ROUTE=""
