{% extends "manialink.njk" %}

{% block content %}

<script>
  <!--
  #Struct Record {
    Integer rank;
    Integer score;
    Text name;
    Text login;
  }

  main(){
    declare Record[] LocalRecords for This;
    declare Integer LastLocalRecordsUpdate for This;
    declare Text localsJson = """{{ data.localsJson }}""";

    LocalRecords.fromjson(localsJson);
    LastLocalRecordsUpdate = GameTime;

    log("LRU");
    log(LocalRecords);
  }
  -->
</script>

{% endblock %}