{% extends "manialink.njk" %}

{% block content %}

<script>
  <!--
  #Struct Map {
    Text name;
    Text author;
  }

  main(){
    declare Map MapInfo for This;
    declare Integer LastMapInfoUpdate for This;
    declare Text mapJson = """{{ data.mapJson | default('{}') }}""";

    MapInfo.fromjson(mapJson);
    LastMapInfoUpdate = GameTime;
  }
  -->
</script>

{% endblock %}