{% extends "manialink.njk" %}

{% block content %}

<script>
  <!--
  #Struct ActiveRun {
    Text login;
    Text name;
    Integer time;
    Integer checkpoint;
  }

  main(){
    declare ActiveRun[] ActiveRuns for This;
    declare Integer LastActiveRunsUpdate for This;
    declare Text activeRunsJson = """{{ data.activeRunsJson | default('[]') }}""";

    ActiveRuns.fromjson(activeRunsJson);
    LastActiveRunsUpdate = GameTime;
  }
  -->
</script>

{% endblock %}