{% extends "manialink.njk" %}

{% block content %}

<script>
  <!--
  #Struct Ranking {
    Text login;
    Text name;
    Integer rank;
    Integer points;
  }

  main(){
    declare Ranking[] Rankings for This;
    declare Text Mode for This;
    declare Integer PointsLimit for This;
    declare Integer LastRankingsUpdate for This;
    declare Text rankingsJson = """{{ data.rankingsJson | default('[]') }}""";

    Rankings.fromjson(rankingsJson);
    Mode = """{{ data.mode | default('rounds') }}""";
    PointsLimit = {{ data.pointsLimit | default(-1) }};
    LastRankingsUpdate = GameTime;
  }
  -->
</script>

{% endblock %}