{% extends "manialink.njk" %}
{% block content %}
<frame id="widget" pos="{{ position | default('0 0') }}" z-index="10" hidden="1">
{% block widget %}{% endblock %}
</frame>

<script><!--

{% block globals %}{% endblock %}

main() {
  declare CMlFrame widget;
  widget <=> (Page.MainFrame.GetFirstChild("widget") as CMlFrame);

  widget.Show();

  {% block main %}{% endblock %}

  while (True) {
    yield;

    {% block loop %}{% endblock %}
  }
}

--></script>
{% endblock %}
