{% extends "manialink.njk" %}
{% block content %}
<frame id="widget" pos="{{ position | default('0 0') }}" z-index="10" hidden="1">
{% block widget %}{% endblock %}
</frame>

<script><!--
#Include "MathLib" as ML
#Include "TextLib" as TL
#Include "TimeLib" as TimeLib
#Include "ColorLib" as CL

{% block globals %}{% endblock %}

{% block script %}{% endblock %}

main() {
  declare CMlFrame widget;
  widget <=> (Page.MainFrame.GetFirstChild("widget") as CMlFrame);

  sleep(300);
  widget.Show();

  {% block main %}{% endblock %}

  while (True) {
    yield;

    foreach(event in PendingEvents){
      if(event.Control == Null) continue;

      {% block events %}{% endblock %}
    }

    {% block loop %}{% endblock %}
  }
}

--></script>
{% endblock %}
